<footer class="w-full bg-so1 border-t-2 border-[#757473] py-6 relative">
  <div class="flex w-full h-full">
    <div class="flex-1 flex justify-center items-center">
      <div class="text-center text-white space-y-2">
        <p class="text-so2 text-md"> Kontaktirajte nas </p>
        <div class="w-46 h-[2px] bg-so2 mx-auto"></div>
        <p class="text-md flex items-center justify-center">
          <img src="assets/letter (1).png" alt="Email" class="h-6 w-6 mr-2" />
          <a class="text-so2 ">contact&#64;recepti.com</a>
        </p>
        <p class="text-md flex items-center justify-center">
          <img src="assets/phone.png" alt="Phone" class="h-6 w-6 mr-2" />
          <a href="tel:+381123456789" class="text-so2">+381 12 345 6789</a>
        </p>
      </div>
    </div>

    <div class="flex-1 flex justify-center items-center text-light">
      <div class="flex flex-col justify-center items-center bg-so2 border-2 border-separator rounded-2xl p-4 shadow-md min-w-[200px]">
        <p class="text-md"> ili nas zapratite </p>
        <img src="assets/instagram.webp" alt="instagram" class="h-[100px] mr-2 ml-2" />
        <a class="text-md"> &#64;recepti </a>
      </div>
    </div>
  </div>

  <div class="absolute bottom-2 right-4 flex items-center">
    <img src="assets/logo.png" alt="Recepti Logo" class="h-20" />
  </div>

  <div class="absolute bottom-2 left-1/2 transform -translate-x-1/2">
    <span class="text-white text-sm">made by Kota</span>
  </div>
</footer>
