<div class="flex items-center justify-center w-full h-full">
  <app-form
    *ngIf="!message"
    [customFields]="[{
      name: 'newPassword',
      label: 'Nova lozinka',
      type: 'password',
      placeholder: 'Unesite novu lozinku',
      required: true,
      validators: []
    }]"
    formTitle="Resetuj lozinku"
    submitButtonText="Promeni lozinku"
    (formSubmit)="onFormSubmit($event)"
  ></app-form>

  <p *ngIf="message" class="text-center text-lg text-so2">{{ message }}</p>
</div>
